In [1]:
import yaml
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
with open("./path_odom.txt", "rt") as file:
    path_odom_content = file.read()

path_odom = yaml.safe_load(path_odom_content.replace("---", "").replace('...', ''))

In [31]:
path_odom['poses'][0]['pose']['position'], path_odom['poses'][0]['header']

({'x': 0.0, 'y': 0.0, 'z': 0.0},
 {'stamp': {'sec': 326, 'nanosec': 358248728}, 'frame_id': 'map'})

In [34]:
positions = []
orientations = []
for pose in path_odom["poses"]:
    try:
        timestamp = pose['header']['stamp']['sec'] + pose['header']['stamp']['nanosec'] * 10**-9
        position = dict(**pose['pose']['position'], timestamp=timestamp)
        orientation = dict(**pose['pose']['orientation'], timestamp=timestamp)
        positions.append(position)
        orientations.append(orientation)
    except:
        print(pose)
        break
print("Positions:", positions[0])
print("Orientations:", orientations[0])
assert len(positions) == len(orientations)
print("Total:", len(positions))

Positions: {'x': 0.0, 'y': 0.0, 'z': 0.0, 'timestamp': 326.358248728}
Orientations: {'x': 0.0, 'y': 0.0, 'z': 0.0, 'w': 1.0, 'timestamp': 326.358248728}
Total: 128

In [35]:
positions_df = pd.DataFrame.from_dict(positions)
orientations_df = pd.DataFrame.from_dict(orientations)

In [36]:
positions_df.tail()

             x         y         z   timestamp
123  10.092339  2.297808  0.928524  389.894061
124  10.213735  2.363365  0.945844  390.360931
125  10.319565  2.421423  0.961096  390.894056
126  10.425024  2.480126  0.976441  391.360797
127  10.545090  2.548003  0.994092  391.894075

In [37]:
orientations_df.tail()

            x         y         z         w   timestamp
123  0.058758  0.008380  0.246584  0.967302  389.894061
124  0.059732  0.008406  0.250108  0.966337  390.360931
125  0.060585  0.008429  0.253190  0.965481  390.894056
126  0.061436  0.008451  0.256268  0.964614  391.360797
127  0.062409  0.008477  0.259782  0.963611  391.894075

In [39]:
positions_df.to_csv('path_positions.csv')
orientations_df.to_csv('path_orientations.csv')